.header-mobile {
    width: 100%;
    list-style: none;
    display: none;
    padding: .5rem 0;

    @media (max-width: 575.98px) {
        &.active {
            display: block;
        }
    }

    & > li {
        &:last-child  {
            margin-top: .5rem;
        }
        & > a {
            display: block;
            text-decoration: none;
            font: {
                size: 1.25em;
                family: $MontserratRegular;
            }
            border-radius: 4px;
            cursor: pointer;
            background-color: $backgroundDark;
            color: $textColorDark;
            transition: .4s background-color ease-in-out;
            padding: .5rem 1rem;
            text-align: center;

            &:hover {
                background-color: black;
                color: $background;
            }
        }
        & > span {
            display: block;
            padding: .5rem 1rem;
            font: {
                size: 1.25em;
                family: $MontserratRegular;
            }
        }
        & > ul {
            list-style: none;
            margin-top: .5rem;

            & > li {
                &:nth-child(1) > span {
                    margin-top: 0;
                }
                & > span {
                    font: {
                        size: .9em;
                        family: $MontserratSemiBold;
                    }
                    margin-top: .6rem;
                    display: block;
                    text-transform: uppercase;
                    border-bottom: 1px solid darken(white, 10);
                    padding-bottom: .6rem;
                }
                & > ul {
                    list-style: none;
                    margin-top: .3rem;

                    & > li {
                        &.active > a {
                            color: $secondaryColor;
                            font-family: $MontserratSemiBold;
        
                            &::before {
                                content: "—";
                                margin-right: .6rem;
                            }
                            &:hover {
                                color: $secondaryColorHover;
                            }
                        }
                        & a {
                            color: $textColor;
                            text-decoration: none;
                            display: block;
                            cursor: pointer;
                            padding: .3rem;
                            font: {
                                family: $MontserratRegular;
                                size: .95em;
                            }
        
                            &:hover {
                                color:$textColorHover;
                            }
                        }
                    }
                }
            }
        }
    }
}