.next-database-docs-page {
    width: 100%;
    margin-top: 70px;

    & .docs-content {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 3.75rem;

        @media (max-width: 991.98px) {
            padding: 1rem 2rem;
        }

        @media (max-width: 575.98px) {
            padding: 1rem;
            padding-top: 0;
        }

        & .docs-information {
            width: 75%;

            @media (max-width: 1199.98px) {
                width: 70%;
            }

            @media (max-width: 991.98px) {
                width: 65%;
            }

            @media (max-width: 575.98px) {
                width: 100%;
            }

            & > h1 {
                margin-bottom: 2rem;
                margin-top: 1rem;
            }
            & > h2 {
                margin-top: 2rem;
                margin-bottom: 1rem;
                border-top: 1px solid darken(white, 10);
                padding-top: 1rem;
            }
            & > p {
                margin: .5rem 0;
                line-height: 1.5;

                & a {
                    margin-left: .25rem;
                    text-decoration: none;
                    color: $secondaryColor;
                    transition: .4s color ease-in-out;
                    font-family: $MontserratRegular;

                    &:hover {
                        color: $secondaryColorHover;
                    }
                }
            }
            & .docs-links {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                padding: 1rem .5rem;
                padding-top: 2rem;

                @media (max-width: 575.98px) {
                    padding: 1rem .5rem;
                    padding-bottom: 0;
                }

                & > a {
                    text-decoration: none;
                    color: $secondaryColor;
                    transition: .4s color ease-in-out;
                    font-family: $MontserratRegular;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: flex-start;

                    @media (max-width: 575.98px) {
                        width: 100%;

                        &:nth-child(2) {
                            justify-content: flex-end;
                            margin-top: 1rem;
                        }
                    }

                    & > img {
                        width: 1rem;

                        &.left {
                            margin-right: .5rem;
                        }
                        &.right {
                            margin-left: .5rem;
                        }
                    }
                    &:hover {
                        color: $secondaryColorHover;
                    }
                }
            }
        }
    }
}