@font-face { font-family: MontserratLight; src: url('/assets/fonts/Montserrat-Light.ttf'); }
$MontserratLight: MontserratLight;

@font-face { font-family: MontserratRegular; src: url('/assets/fonts/Montserrat-Regular.ttf'); }
$MontserratRegular: MontserratRegular;

@font-face { font-family: MontserratSemiBold; src: url('/assets/fonts/Montserrat-SemiBold.ttf'); }
$MontserratSemiBold: MontserratSemiBold;

@font-face { font-family: MontserratBold; src: url('/assets/fonts/Montserrat-Bold.ttf'); }
$MontserratBold: MontserratBold;